.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.build/
.dist/
*.egg-info/
.pytest_cache/
.ruff_cache/
.mypy_cache/
.ty_cache/
.ipynb_checkpoints/
.vscode/
.idea/
.python-version
.DS_Store
TODO
.env
wandb/
scripts/wandb/
